@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #9e824c;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.navbar {
  width: 100%;
}
.con__banner {
  margin: 1em 0em;
  top: 0;
  position: absolute;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.banner__img {
  justify-content: center;
  display: flex;
  position: relative;
}
.baner_img {
  top: 0;
  width: 100%;
  height: 700px;
  border-radius: 0px 0px 30px 30px;
}

.navbar__logo__img img {
  margin-left: 10em;
}

.navbar__logo {
  position: relative;
  top: 0;
  max-width: 1920px;
}

.navbar__logo {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 4em;
}
.navbar__main ul {
  display: flex;
  margin-right: 1em;
}
.navbar_contant {
  margin: 0em 0.5em;
  color: black;
  font-size: 18px;
  padding: 8px 10px;
}
.navbar_contant:hover {
  color: rgba(209, 190, 13, 0.801);
  text-decoration: underline;
}

/* 2nd .navbar */
.side_nav {
  width: 200px;
  padding-bottom: 3em;
  height: 50vh;
  position: absolute;
  right: 0;
  top: 0;

  background: #052a384f;
  z-index: 3;
  border-radius: 30px;
  display: none;
  animation: slider 1s both;
  transition: 300ms ease-in-out;
}
.side_nav ul li {
  list-style: none;
  margin: 30px 20px;
}
.side_nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
@keyframes slider {
  from {
    right: -250px;
  }
  to {
    right: 0px;
  }
}
.menu_btn {
  width: 30px;
  height: 25px;
  text-align: center;
  position: absolute;
  right: 35px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  display: none;
}

.contect__header {
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.contect__header__line {
  color: #042a39;
  font-size: 40px;
  position: relative;
  padding-top: 13%;
  font-family: "Prata", serif;
}
.contect__header__hr__line {
  background-color: #042a39;
  width: 15%;
  height: 2px;
  margin-top: 18%;
  position: absolute;
}
.contect__header__logo {
  position: absolute;
  padding-top: 3%;
}
.contect__header__logo img {
  width: 120px;
}
.about__us__all {
  display: flex;
  width: 100%;
  margin-top: 5em;
}
.about__us {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.about__us__left {
  width: 17%;
  height: 380px;
  background-color: #9e824c;
  padding: 2em;
  border-radius: 0px 150px 0px 0px;
  position: absolute;
  top: 25%;
  left: 10%;
}
.about__us__left__logo {
  padding-bottom: 1em;
}
.about__us__left__logo img {
  width: 70px;
  height: 100%;
}
.about__us__left__heading {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  font-family: "Prata", serif;
}
.about__us__left__Info {
  font-size: 15px;
  width: 100%;
  color: white;
  font-family: "Prata", serif;
}
.about__us__mid {
  width: 65%;
  margin-left: 15%;
}

.about__us__mid img {
  width: 100%;
  height: 550px;
  border-radius: 150px 0px 0px 0px;
}

.about__us__right {
  width: -1%;
}
.about__us__right img {
  height: 550px;
}
.offer__heading {
  margin-top: 3em;
  margin-bottom: 2em;
  font-size: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Prata", serif;
}
.offer__Section {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.offer__heading__img {
  position: absolute;
  top: 0%;
  left: 35%;
  z-index: -999;
}
.slider {
  width: 100%;
}

.slider__img img {
  width: 98%;
}

.slider__img {
  position: relative;
}
.swiper__slider {
  width: 40%;
  display: flex;
}
.slider__img__heading {
  position: absolute;
  top: 85%;
  left: 20%;
  font-size: 22px;
  font-family: "Prata", serif;
  color: white;
  z-index: 9999;
}
.place {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}
.place__left {
  width: 20%;
  margin-right: 2em;
  margin-top: 10em;
}
.place__mid {
  margin-top: 8em;

  position: relative;
  margin-right: 2em;
}
.place__right {
  margin-top: 8em;
}
.place__left {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.place__left__heading {
  font-size: 48px;
  font-family: "Prata", serif;
}
.place__mid__img img {
  width: 100%;
  height: 360px;
}
.place__mid__heading {
  font-size: 48px;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  top: 25%;
  left: 40%;
  width: 80%;
  font-family: "Prata", serif;
}
.place__right__img img {
  height: 360px;
}
.place__right__heading {
  font-size: 48px;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  font-family: "Prata", serif;
  top: 58%;
  margin-left: 1.5em;
}
.event {
  width: 100%;
  padding-top: 8em;
  padding-bottom: 8em;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}
.event__img img {
  height: 490px;
  object-fit: cover;
  width: 100%;
}
.event__con {
  width: 20%;
  padding-top: 2em;
  background-color: #042a39;
  border-radius: 0px 160px 0px 0px;
  position: absolute;
  top: 22%;
  left: 65%;
}
.event__con__logo {
  margin-left: 2em;
  margin-bottom: 10px;
}
.event__con__heading {
  font-size: 25px;
  color: white;
  font-family: "Prata", serif;
  margin-left: 1em;
  margin-bottom: 10px;
}
.event__con__info {
  margin-left: 1.5em;
  font-size: 17px;
  width: 70%;
  color: white;
  font-family: "Prata", serif;
  padding-bottom: 1em;
}
.Overlay__Cards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1920px;
}
.Overlay__Card__logo {
  position: relative;
}
.Overlay__Card__logo img {
  margin: 2em;
  height: 400px;
}
.Overlay__Card__con {
  width: 20%;
  margin: 2em;
  position: relative;
}
.Overlay__Card__img {
  position: relative;
  z-index: -999;
}
.Overlay__Card__img img {
  width: 100%;
}
.overlay__img {
  background: linear-gradient(360deg, #042a39 0%, rgba(4, 42, 57, 0) 100%);
  z-index: 9999;
  border-radius: 12px;
  cursor: pointer;
}
.overlay__img:hover {
  background: linear-gradient(
    360deg,
    #ad925e 0%,
    rgba(173, 146, 94, 0.46) 100%
  );
  z-index: 9999;
  border-radius: 12px;
  cursor: pointer;
}
.overlay__heading {
  font-size: 25px;
  color: white;
  font-family: "Prata", serif;
  position: absolute;
  top: 80%;
  left: 22%;
}

.location {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
  text-align: center;
  margin-bottom: 4em;
  max-width: 1920px;
  margin: 0 auto;
}

.location__heading {
  font-size: 45px;
  font-family: "Prata", serif;
  margin-bottom: 1em;
}
.location__card {
  width: 25%;
}
.location__card__heading {
  font-size: 16px;
  padding-top: 1em;
  color: #ad925e;
}
.location__card__heading__Span {
  font-weight: bold;
}
.location__card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.All__location__Cards {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  width: 12%;
  padding: 1em;
  margin: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
  border-radius: 5px;
}
.location__card__svg {
  margin-bottom: 1em;
}
.All__location__Cards:hover {
  background: #042a39;
}
.location__card__svg svg {
  fill: #042a39;
}
.location__card__svg svg:hover {
  fill: #ffffff;
}
.location__map {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}
.location__map img {
  width: 100%;
}

.detail__heading {
  font-size: 45px;
  font-family: "Prata", serif;
  margin-bottom: 1em;
}
.details {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  text-align: center;
  padding-top: 8em;
  margin-bottom: 4em;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.detials__all__con {
  display: flex;
}
.details__left {
  width: 77%;
  justify-content: center;
  display: grid;
}
.details__left__heading__all {
  display: flex;
  background-color: #042a39;
  width: 100%;
  margin-left: 8em;
  border-radius: 22px;
}

.details__left__heading {
  width: 15%;
  margin: 1em;
  margin-left: 2em;
  color: white;
  background-color: #042a39;
  font-weight: 600;
}
.details__left__entries {
  width: 25%;
  border-left: #a7a7a7 1px solid;
  border-right: #a7a7a7 1px solid;
  border-bottom: #a7a7a7 1px solid;
  border-radius: 20px;
}
.details__left__entries_all {
  display: flex;
  margin-left: 8em;
  width: 100%;
}
.details__left__entries__heading {
  font-size: 18px;
  color: #9e824c;
  padding: 2em;
}
.details__right {
  width: 20%;
}
.details__right__img img {
  height: 550px;
  position: absolute;
  top: 0;
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 8em;
}
.footer {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 8em;
  padding-top: 5em;
  background-color: #042a39;
  color: white;
  position: relative;
}
.footer__logo {
  margin-bottom: 1em;
}
.footer__lorem {
  margin: 1em;
  width: 70%;
  font-family: "Prata", serif;
  font-size: 17px;
  text-align: center;
}
.footer__left {
  width: 20%;
}
.footer__all__con {
  display: flex;
}
.footer__left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
}
.footer__right {
  width: 80%;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3em;
  text-align: center;
}
.footer__bottom__svg {
  margin: 1em;
}
.footer__bottom__heading {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.all__footer__bottom__con {
  padding: 5em;
  border-right: 2px solid white;
  width: 25%;
}
.footer__bottom__info {
  font-size: 14px;
  font-family: "Prata", serif;
  margin: 10px;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3em;
  text-align: center;
}
.footer__social__link {
  padding: 2em;
}
@media (max-width: 1550px) {
  .about__us__left {
    width: 18%;
    top: 28%;
  }
  .about__us__left__Info {
    font-size: 14px;
  }
}
@media (max-width: 1520px) {
  .contect__header__line {
    padding-top: 16%;
  }
  .contect__header__hr__line {
    margin-top: 21%;
  }
}
@media (max-width: 1460px) {
  .Overlay__Card__con {
    width: 23%;
  }
  .overlay__heading {
    left: 20%;
  }
}
@media (max-width: 1400px) {
  .about__us__left {
    width: 20%;
    top: 29%;
  }
  .about__us__mid img {
    height: 530px;
  }
  .about__us__right img {
    height: 530px;
  }
  .Overlay__Card__con {
    width: 27%;
  }
  .All__location__Cards {
    width: 25%;
  }
  .location__card {
    flex-wrap: wrap;
  }
}

@media (max-width: 1300px) {
  .contect__header__logo {
    padding-top: 4%;
  }
  .contect__header__line {
    padding-top: 19%;
    font-size: 35px;
  }
  .contect__header__hr__line {
    margin-top: 25%;
  }
  .navbar__logo {
    width: 90%;
  }
  .navbar__logo__img img {
    margin-left: 3em;
  }

  .about__us__left__Info {
    font-size: 13px;
  }
  .about__us__left {
    width: 22%;
  }
  .offer__heading__img {
    left: 30%;
  }
  .event__con {
    width: 26%;
  }
  .All__location__Cards {
    width: 30%;
  }
}
@media (max-width: 1150px) {
  .Overlay__Card__logo {
    display: none;
  }
  .Overlay__Cards {
    flex-wrap: wrap;
  }
}
@media (max-width: 1100px) {
  .contect__header__logo {
    position: absolute;
    padding-top: 5%;
  }
  .contect__header__line {
    padding-top: 21%;
  }
  .contect__header__hr__line {
    margin-top: 28%;
  }
  .navbar__logo {
    width: 90%;
  }
  .navbar__logo__img img {
    margin-left: 5em;
  }
  .offer__heading__img {
    left: 25%;
  }
  .event__con {
    width: 31%;
    left: 58%;
  }
  .details__right__img {
    display: none;
  }
  .footer__left {
    display: none;
  }
  .footer__lorem {
    width: 95%;
  }
  .all__footer__bottom__con {
    padding: 2em;
    border-right: 2px solid white;
    width: 37%;
  }
}

@media (max-width: 1050px) {
  .navbar__logo {
    width: 95%;
  }
  .navbar__main {
    display: none;
  }
  .menu_btn {
    display: flex;
  }
  .side_nav {
    display: inline;
  }
  .side_nav ul li {
    list-style: none;
    margin: 24px 7px;
  }
  .side_nav ul li a {
    font-size: 20px;
  }
  .navbar__logo__img img {
    margin-left: 1em;
  }
  .contect__header__line {
    padding-top: 23%;
  }
  .contect__header__hr__line {
    margin-top: 31%;
  }
  .contect__header__logo {
    position: absolute;
    padding-top: 4%;
  }
  .contect__header__hr__line {
    width: 25%;
  }
  .navbar__logo {
    width: 93%;
  }
  .baner_img {
    height: 550px;
  }
  .about__us__mid img {
    height: 480px;
  }
  .about__us__left {
    width: 25%;
  }
  .about__us__left {
    top: 22%;
  }
  .about__us__right img {
    height: 480px;
  }
  .offer__heading__img {
    left: 20%;
  }
  .place__left__heading {
    font-size: 40px;
  }
  .place__mid__img img {
    width: 340px;
  }
  .place__mid__heading {
    font-size: 40px;
    top: 35%;
  }
  .place__right__heading {
    font-size: 40px;
    font-size: 40px;
    margin-left: 1em;
    right: -54px;
  }
  .Overlay__Card__con {
    width: 40%;
  }
  .overlay__heading {
    left: 15%;
  }
  .overlay__heading {
    font-size: 35px;
  }
}
@media (max-width: 950px) {
  .overlay__heading {
    font-size: 30px;
  }
  .overlay__heading {
    left: 16%;
  }
  .Overlay__Card__con {
    width: 42%;
  }
}
@media (max-width: 900px) {
  .about__us__left {
    width: 29%;
  }
  .place {
    flex-wrap: wrap;
  }
  .place__left {
    width: 60%;
  }
  .place__right__heading {
    top: 77%;
    right: 0px;
  }
  .event__con {
    width: 37%;
    left: 50%;
  }
}
@media (max-width: 850px) {
  .contect__header__line {
    font-size: 30px;
  }
  .contect__header__logo {
    padding-top: 0%;
  }
  .contect__header__line {
    padding-top: 24%;
  }
  .contect__header__hr__line {
    margin-top: 32%;
  }
  .offer__heading__img {
    display: none;
  }
  .Overlay__Card__con {
    width: 60%;
  }
  .overlay__heading {
    font-size: 40px;
  }
  .overlay__heading {
    left: 14%;
  }
}
@media (max-width: 850px) {
  .navbar__logo__img img {
    margin-left: -3em;
  }
  .contect__header__line {
    padding-top: 27%;
  }
  .contect__header__hr__line {
    margin-top: 36%;
  }
  .about__us__right {
    display: none;
  }
  .about__us__mid img {
    height: 400px;
  }
  .about__us__left {
    padding: 1em;
    padding-top: 2em;
    height: 340px;
  }
  .about__us__mid {
    width: 70%;
    margin-left: 22%;
  }
  .about__us__left__heading {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .about__us__left {
    left: 5%;
  }
  .about__us__mid {
    width: 75%;
    margin-left: 18%;
  }
  .about__us__left {
    width: 32%;
  }
  .about__us__left__heading {
    margin-bottom: 5px;
  }
  .about__us__left {
    width: 37%;
  }
  .event__con {
    width: 48%;
    left: 25%;
  }
  .All__location__Cards {
    width: 40%;
  }
}
@media (max-width: 700px) {
  .Overlay__Card__con {
    width: 70%;
  }
  .overlay__heading {
    font-size: 36px;
  }
  .footer__bottom {
    flex-direction: column;
  }
  .all__footer__bottom__con {
    border: none;
  }
  .all__footer__bottom__con {
    padding: 0em;
  }
  .footer__lorem {
    font-size: 18px;
  }
  .all__footer__bottom__con {
    width: 100%;
  }
  .footer__bottom__info {
    font-size: 20px;
  }
  .footer__bottom__heading {
    font-size: 28px;
  }
}
@media (max-width: 670px) {
  .place__right__heading {
    top: 82%;
    margin-right: 3em;
  }
  .place__mid {
    margin: 2em;
  }
  .place__right {
    margin: 2em;
  }
}
@media (max-width: 580px) {
  .contect__header__line {
    padding-top: 35%;
  }
  .contect__header__hr__line {
    margin-top: 45%;
  }
  .contect__header__line {
    font-size: 26px;
  }
  .contect__header__logo {
    padding-top: 5%;
  }
  .contect__header__hr__line {
    width: 40%;
  }
  .baner_img {
    height: 500px;
  }
  .navbar__logo {
    width: 90%;
  }
  .about__us__mid {
    width: 80%;
    margin-left: 17%;
  }
  .about__us__left {
    width: 45%;
  }
  .about__us__left {
    height: 340px;
  }
  .about__us__mid img {
    height: 370px;
  }
  .event__con {
    width: 73%;
    left: 19%;
  }
  .Overlay__Card__con {
    width: 100%;
  }
  .overlay__heading {
    left: 17%;
  }
  .All__location__Cards {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .contect__header__line {
    padding-top: 38%;
  }
  .contect__header__logo {
    padding-top: 2%;
  }
  .contect__header__line {
    font-size: 24px;
  }
  .contect__header__hr__line {
    margin-top: 52%;
  }
  .about__us__left {
    position: relative;
    margin: 2em;
  }
  .about__us__left {
    width: 65%;
    padding: 2em;
  }
  .about__us__left__heading {
    font-size: 22px;
  }
  .about__us__left__Info {
    font-size: 14px;
  }
  .about__us__left {
    height: 400px;
  }
  .about__us__left {
    left: 10%;
  }
  .about__us {
    display: inline;
  }
  .about__us__all {
    display: inline;
  }
  .about__us__mid {
    width: 73%;
    margin-left: 10%;
  }
  .about__us__mid img {
    height: 260px;
  }
  .offer__heading {
    font-size: 40px;
  }
  .place__right__heading {
    margin-right: 10px;
  }
  .overlay__heading {
    left: 18%;
    font-size: 31px;
  }
}
@media (max-width: 450px) {
  .overlay__heading {
    left: 15%;
    font-size: 30px;
  }
  .detail__heading {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .menu_btn {
    top: 15%;
  }
  .contect__header__line {
    padding-top: 48%;
  }
  .contect__header__line {
    font-size: 23px;
  }
  .contect__header__hr__line {
    margin-top: 70%;
  }
  .side_nav {
    height: 40vh;
    top: -10%;
  }
  .about__us__left {
    width: 75%;
    padding: 2em;
  }
  .about__us__mid {
    width: 85%;
  }
  .about__us__mid {
    margin-left: 4%;
  }
  .about__us__left {
    left: 5%;
  }
  .offer__heading {
    font-size: 32px;
  }
  .place__right__heading {
    margin-right: -28px;
  }
  .event__con {
    width: 84%;
    left: 10%;
  }
  .overlay__heading {
    left: 16%;
    font-size: 28px;
  }
}
