@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.navbar {
  width: 100%;
}
.con__banner {
  margin: 1em 0em;
  top: 0;
  position: absolute;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.banner__img {
  justify-content: center;
  display: flex;
  position: relative;
}
.baner_img {
  top: 0;
  width: 100%;
  height: 700px;
  border-radius: 0px 0px 30px 30px;
}

.navbar__logo__img img {
  margin-left: 10em;
}

.navbar__logo {
  position: relative;
  top: 0;
  max-width: 1920px;
}

.navbar__logo {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 4em;
}
.navbar__main ul {
  display: flex;
  margin-right: 1em;
}
.navbar_contant {
  margin: 0em 0.5em;
  color: black;
  font-size: 18px;
  padding: 8px 10px;
}
.navbar_contant:hover {
  color: rgba(209, 190, 13, 0.801);
  text-decoration: underline;
}

/* 2nd .navbar */
.side_nav {
  width: 200px;
  padding-bottom: 3em;
  height: 50vh;
  position: absolute;
  right: 0;
  top: 0;
  /* left: 82%; */
  background: #052a384f;
  z-index: 3;
  border-radius: 30px;
  display: none;
  animation: slider 1s both;
  transition: 300ms ease-in-out;
}
.side_nav ul li {
  list-style: none;
  margin: 30px 20px;
}
.side_nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
@keyframes slider {
  from {
    right: -250px;
  }
  to {
    right: 0px;
  }
}
.menu_btn {
  width: 30px;
  height: 25px;
  text-align: center;
  position: absolute;
  right: 35px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  display: none;
}

.contect__header {
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.contect__header__line {
  color: #042a39;
  font-size: 40px;
  position: relative;
  padding-top: 13%;
  font-family: "Prata", serif;
}
.contect__header__hr__line {
  background-color: #042a39;
  width: 15%;
  height: 2px;
  margin-top: 18%;
  position: absolute;
}
.contect__header__logo {
  position: absolute;
  padding-top: 3%;
}
.contect__header__logo img {
  width: 120px;
}
.about__us__all {
  display: flex;
  width: 100%;
  margin-top: 5em;
}
.about__us {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  /* background-color: #1E1E1E; */
}
.about__us__left {
  width: 16%;
  height: 380px;
  background-color: #9e824c;
  padding: 2em;
  border-radius: 0px 120px 0px 0px;
  position: absolute;
  top: 25%;
  left: 10%;
}
.about__us__left__logo img {
  width: 70px;
  height: 100%;
  /* margin-bottom: 10px; */
}
.about__us__left__heading {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  font-family: "Prata", serif;
}
.about__us__left__Info {
  font-size: 13px;
  width: 100%;
  color: white;
  font-family: "Prata", serif;
}
.about__us__mid {
  width: 65%;
  margin-left: 15%;
}

.about__us__mid img {
  width: 100%;
  height: 550px;
  border-radius: 150px 0px 0px 0px;
}

.about__us__right {
  width: 20%;
}
.about__us__right img {
  height: 550px;
}
.offer__heading {
  margin-top: 3em;
  margin-bottom: 2em;
  font-size: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Prata", serif;
}
.offer__Section {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.offer__heading__img {
  position: absolute;
  top: 0%;
  left: 35%;
  z-index: -999;
}
.slider {
  width: 100%;
}

.slider__img img {
  width: 98%;
  /* margin-left: 1em; */
}

.slider__img {
  position: relative;
}
.swiper__slider {
  width: 40%;
  display: flex;
}
/* .offer__overlay {
  background: linear-gradient(
    180deg,
    #ad925e 0%,
    rgba(173, 146, 94, 0.46) 100%
  );
  position: absolute;
  width: 265px;
  height: 410px;
  z-index: 9999;
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
} */
.slider__img__heading {
  position: absolute;
  top: 85%;
  left: 20%;
  font-size: 22px;
  font-family: "Prata", serif;
  color: white;
  z-index: 9999;
}
.place {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}
.place__left {
  width: 20%;
  margin-right: 2em;
  margin-top: 10em;
}
.place__mid {
  margin-top: 8em;
  /* width: 35%; */
  position: relative;
  margin-right: 2em;
}
.place__right {
  /* width: 15%; */
  margin-top: 8em;
}
.place__left {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.place__left__heading {
  font-size: 48px;
  font-family: "Prata", serif;
}
.place__mid__img img {
  width: 100%;
  height: 360px;
}
.place__mid__heading {
  font-size: 48px;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  top: 25%;
  left: 40%;
  width: 80%;
  font-family: "Prata", serif;
}
.place__right__img img {
  height: 360px;
}
.place__right__heading {
  font-size: 48px;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  font-family: "Prata", serif;
  top: 58%;
  margin-left: 1.5em;
}
.event {
  width: 100%;
  padding-top: 8em;
  padding-bottom: 8em;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}
.event__img img {
  width: 100%;
  height: 490px;
}
.event__con {
  width: 20%;
  padding-top: 2em;
  background-color: #042a39;
  border-radius: 0px 160px 0px 0px;
  position: absolute;
  top: 22%;
  left: 65%;
}
.event__con__logo {
  margin-left: 2em;
  margin-bottom: 10px;
}
.event__con__heading {
  font-size: 25px;
  color: white;
  font-family: "Prata", serif;
  margin-left: 1em;
  margin-bottom: 10px;
}
.event__con__info {
  margin-left: 1.5em;
  font-size: 17px;
  width: 70%;
  color: white;
  font-family: "Prata", serif;
  padding-bottom: 1em;
}
.Overlay__Cards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1920px;
}
.Overlay__Card__logo {
  position: relative;
}
.Overlay__Card__logo img {
  margin: 2em;
  height: 400px;
}
.Overlay__Card__con {
  width: 20%;
  margin: 2em;
  position: relative;
}
.Overlay__Card__img {
  position: relative;
  z-index: -999;
}
.Overlay__Card__img img {
  width: 100%;
}
.overlay__img {
  background: linear-gradient(360deg, #042a39 0%, rgba(4, 42, 57, 0) 100%);
  z-index: 9999;
  border-radius: 12px;
  cursor: pointer;
}
.overlay__img:hover {
  background: linear-gradient(
    360deg,
    #ad925e 0%,
    rgba(173, 146, 94, 0.46) 100%
  );
  z-index: 9999;
  border-radius: 12px;
  cursor: pointer;
}
.overlay__heading {
  font-size: 25px;
  color: white;
  font-family: "Prata", serif;
  position: absolute;
  top: 80%;
  left: 22%;
}

.location {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
  text-align: center;
  margin-bottom: 4em;
  max-width: 1920px;
  margin: 0 auto;
}

.location__heading {
  font-size: 45px;
  font-family: "Prata", serif;
  margin-bottom: 1em;
}
.location__card {
  width: 25%;
}
.location__card__heading {
  font-size: 16px;
  padding-top: 1em;
  color: #ad925e;
}
.location__card__heading__Span {
  font-weight: bold;
}
.location__card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.All__location__Cards {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  width: 12%;
  padding: 1em;
  margin: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
}
.location__card__svg {
  margin-bottom: 1em;
}
.All__location__Cards:hover {
  background: #042a39;
}
.location__card__svg svg {
  fill: #042a39;
}
.location__card__svg svg:hover {
  fill: #ffffff;
}
.location__map {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

.detail__heading {
  font-size: 45px;
  font-family: "Prata", serif;
  margin-bottom: 1em;
}
.details {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  text-align: center;
  padding-top: 8em;
  margin-bottom: 4em;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.detials__all__con {
  display: flex;
}
.details__left {
  width: 77%;
  justify-content: center;
  display: grid;
}
.details__left__heading__all {
  display: flex;
  background-color: #ad925e;
  width: 100%;
  margin-left: 8em;
  border-radius: 22px;
}

.details__left__heading {
  width: 15%;
  margin: 1em;
  margin-left: 2em;
  color: white;
  background-color: #ad925e;
  font-weight: 600;
  /* border-radius: 21px; */
}
.details__left__entries {
  width: 25%;
  border: #a7a7a7 1px solid;
  border-radius: 20px;
}
.details__left__entries_all {
  display: flex;
  margin-left: 8em;
  width: 100%;
}
.details__left__entries__heading {
  font-size: 18px;
  color: #9e824c;
  padding: 2em;
}
.details__right {
  width: 20%;
}
.details__right__img img {
  height: 550px;
  position: absolute;
  top: 0;
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 8em;
}
.footer {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 8em;
  /* padding: 5em; */
  padding-top: 5em;
  background-color: #042a39;
  color: white;
  position: relative;
}
.footer__logo {
  margin-bottom: 1em;
}
.footer__lorem {
  margin: 1em;
  width: 70%;
  font-family: "Prata", serif;
  font-size: 17px;
  text-align: center;
}
.footer__left {
  width: 20%;
}
.footer__all__con {
  display: flex;
}
.footer__left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
}
.footer__right {
  width: 80%;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3em;
  text-align: center;
}
.footer__bottom__svg {
  margin: 1em;
}
.footer__bottom__heading {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.all__footer__bottom__con {
  padding: 5em;
  border-right: 2px solid white;
  width: 25%;
}
.footer__bottom__info {
  font-size: 14px;
  /* font-weight: bold; */
  font-family: "Prata", serif;
  margin: 10px;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3em;
  text-align: center;
}
.footer__social__link {
  padding: 2em;
}
@media (max-width: 1520px) {
  .contect__header__line {
    padding-top: 16%;
  }
  .contect__header__hr__line {
    margin-top: 21%;
  }
}
@media (max-width: 1300px) {
  .contect__header__logo {
    padding-top: 4%;
  }
  .contect__header__line {
    padding-top: 19%;
    font-size: 35px;
  }
  .contect__header__hr__line {
    margin-top: 25%;
  }
  .navbar__logo {
    width: 90%;
  }
  .navbar__logo__img img {
    margin-left: 3em;
  }
}

@media (max-width: 1050px) {
  .navbar__logo {
    width: 95%;
  }
  .navbar__main {
    display: none;
  }
  .menu_btn {
    display: flex;
  }
  .side_nav {
    display: inline;
  }
  .side_nav ul li {
    list-style: none;
    /* margin: 30px 20px; */
    margin: 24px 7px;
  }
  .side_nav ul li a {
    font-size: 20px;
  }
}
@media (max-width: 1050px) {
}
